{% extends "products/base.html" %}

{% block content %}

<a href='/products/{{ category }}/top'> 10 Najlepszych produktów w kategorii "{{ category_name }}"</a>
<br>
<a href='/products/{{ category }}/worst'> 10 Najgorszych produktów w kategorii "{{ category_name }}"</a>

<table>
{% for product in products %}
        <tr>
            <td> {{ product.name }} </td>
            <td> {{ product.producer }} </td>
            <td>
            {% if product.actual_rating %}
                <script>
                    var x = {{ product.actual_rating }} ;
                    x = x.toFixed(2);
                    document.write(x);
                </script>
            {% else %}
                <i>Brak oceny</i>
            {% endif %}
            </td>
            <td> <a href='/products/{{ product.id }}'>Strona produktu</a>
        </tr>
{% endfor %}
</table>
{% endblock %}