{% if user.is_authenticated %}
  <p>Welcome, {{ user.username }}!.<a href="/accounts/logout">Log out</a></p>
{% else %}
  Welcome, new user. Please log in.
  <form action="/accounts/login" method="post">{% csrf_token %} 
    {{ log_in_form }} 
    <input type="submit" value="Log in" />
  </form>
{% endif %}

<a href='/products/{{ category }}/top'> 10 Najlepszych produktów w kategorii "{{ category }}"</a>
<a href='/products/{{ category }}/worst'> 10 Najgorszych produktów w kategorii "{{ category }}"</a>

<table>
{% for product in products %}
        <tr>
            <td> {{ product.name }} </td>
            <td> {{ product.producer }} </td>
            <td>
            {% if product.actual_rating %}
                {{ product.actual_rating }}
            {% else %}
                <i>Brak oceny</i>
            {% endif %}
            </td>
            <td> <a href='/products/{{ product.id }}'>Strona produktu</a>
        </tr>
{% endfor %}
</table>