{% extends "products/base.html" %}

{% block content %}

<table class="tg-table-plain">
    <tr>
        <th>Nazwa</th>
        <th>Kategoria</th>
        <th>Producent</th>
        <th>Ocena</th>
        <th>Opis</th>
    </tr>
    <tr>
        <td> {{ product.name }} </td>
        <td> {{ product.get_category_display }} </td>
        <td> {{ product.producer }} </td>
        <td>
        {% if product.actual_rating %}
            <script>
                var x = {{ product.actual_rating }} ;
                x = x.toFixed(2);
                document.write(x);
            </script>
        {% else %}
            <i>Brak oceny</i>
        {% endif %}
        </td>
        <td> {{ product.description }} </td>
    </tr>
    <tr>
        <td colspan="5">
            {% if user.is_authenticated %}
                <form action="{{ product.id }}/add_review" method="post">{% csrf_token %}
                        <table>{{ form }}</table>
                        <input type="submit" value="Dodaj recenzje" />
                </form>
            {% else %}
                <p>Zaloguj się, aby ocenić produkt</p>
            {% endif %}
        </td>
    </tr>
    <tr>
        <td colspan="5">
        {% if reviews %}
            Recenzje produktu:
            <table class="tg-table-plain">
                <tr>
                    <th>Autor</th>
                    <th>Data</th>
                    <th>Ocena</th>
                    <th>Opis</th>
                </tr>
            {% for review in reviews %}
                <tr>
                    <td>
                    {% if review.author %}
                        {{ review.author }}
                    {% else %}
                        <i>Anonim</i>
                    {% endif %}
                    </td>
                    <td> {{ review.date }} </td>
                    <td> 
                        <script>
                            var x = {{ review.rating }} ;
                            x = x.toFixed(0);
                            document.write(x);
                        </script>
                    </td>
                    <td> {{ review.content }} </td>
                </tr>
            {% endfor %}
            </table>
        {% else %}
            <i>Brak opinii o produkcie. Może warto dodać własną?</i>
        {% endif %}
        </td>
    </tr>
</table>
{% endblock %}
    