{% extends "products/base.html" %}

{% block content %}
<table>
{% for product in products %}
        <tr>
            <td> {{ product.name }} </td>
            <td> {{ product.category }} </td>
            <td> {{ product.producer }} </td>
            <td>
            {% if product.actual_rating %}
                {{ product.actual_rating }}
            {% else %}
                <i>Brak oceny</i>
            {% endif %}
            </td>
            <td> <a href='/products/{{ product.id }}'>Strona produktu</a>
        </tr>
{% endfor %}
</table>
{% endblock %}