{% extends "services/base.html" %}

{% block content %}

<a href='/services/{{ category }}/top'> 10 Najlepszych produktów w kategorii "{{ category }}"</a>
<a href='/services/{{ category }}/worst'> 10 Najgorszych produktów w kategorii "{{ category }}"</a>

<table>
{% for service in services %}
        <tr>
            <td> {{ service.name }} </td>
            <td> {{ service.performer }} </td>
            <td>
            {% if service.actual_rating %}
                {{ service.actual_rating }}
            {% else %}
                <i>Brak oceny</i>
            {% endif %}
            </td>
            <td> <a href='/services/{{ service.id }}'>Strona usługi</a>
        </tr>
{% endfor %}
</table>
{% endblock %}