{% extends "services/base.html" %}

{% block content %}

{% if services %}
<table>
{% for service in services %}
        <tr>
            <td> {{ service.name }} </td>
            <td> {{ service.get_category_display }} </td>
            <td> {{ service.performer }} </td>
            <td>
            {% if service.actual_rating %}
                <script>
                    var x = {{ service.actual_rating }} ;
                    x = x.toFixed(2);
                    document.write(x);
                </script>
            {% else %}
                <i>Brak oceny</i>
            {% endif %}
            </td>
            <td> <a href='/services/{{ service.id }}'>Strona usługi</a>
        </tr>
{% endfor %}
</table>
{% else %}
<p><i>Brak usług do wyświetlenia!</i></p>
{% endif %}

{% endblock %}